/* keyboard.module.css */
.btn {
    padding: 0.75em;
    font-size: 1rem;
    border: 1px solid #6c757d; /* Medium Gray */
    border-radius: 4px;
    background-color: #f8f9fa; /* Light Gray */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-transform: uppercase; /* Ensure text is uppercase */
  }
  
  .btn:active {
    transform: scale(0.95);
  }
  
  .btn:hover:not(:disabled) {
    background-color: #e2e6ea; /* Slightly darker light gray for hover */
  }
  
  .btn:disabled {
    background-color: #ccc; /* Disabled color */
    cursor: not-allowed;
  }
  
  .active {
    background-color: #007bff; /* Primary color for active */
    color: white;
    border-color: #007bff; /* Match border to background */
    cursor: not-allowed;
  }
  
  .inactive {
    background-color: #dc3545; /* Bootstrap danger color for inactive */
    color: white;
    border-color: #dc3545;
    cursor: not-allowed;
  }
  